<!DOCTYPE html>
<html>
<head>
    <title>Cardinity credit card processing demo</title>
</head>
<body>
<h1>Cardinity Credit Card processing DEMO</h1>
<hr>
{% block body %}{% endblock %}
</body>
</html>
