{% extends 'CardinityClientBundle::layout.html.twig' %}

{% block body %}
<h2>Press 'continue' to proceed checkout process</h2>
<p><a href="{{ path('cardinity_client.payment_details') }}">Continue</a></p>
{% endblock %}
